@import "./footer.scss";

.form {
    max-width: 640px;
    margin: 100px auto;
    padding: 0px 20px;
    border: 1px solid #4A4343;
    border-radius: 25px;

    .button-orange {
        background: $secondary-color;
        border-color: $secondary-color;
    }
    
    .password-forgotten a {
        color: $secondary-color;
        transition: 0.3s;
    }

    .password-forgotten a:hover {
        text-decoration: underline;
    }
}