html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin-top: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-orange {
  border-color: white;
  background-color: #FF5F29;
  color: white;
  transition: all 0.3s ease-out;
}

.btn-orange:hover {
  background-color: #202020;
}

.secondary-color {
  color: #FF5F29;
}

.dropdown-item.active {
  background-color: #FF5F29;
}

.dropdown-item:active {
  background-color: #FF5F29;
}