.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border: 2px solid #FF5F29;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    padding: 4px;
    outline: none;
}

.search-button {
    background-color: #FF5F29;
    border-color: #FF5F29;
    border-radius: 0px 5px 5px 0px;
    width: 40px;
    height: 36px;
    text-align: center;

    &:hover {
        opacity: 0.9;
        background-color: #FF5F29;
        border-color: #FF5F29;
    }

    &:active {
        background-color: #FF5F29 !important;
        border-color: #FF5F29 !important;
    }

    &:focus {
        box-shadow: none;
        background-color: #FF5F29;
        border-color:#FF5F29;
    }
}

.search-icon {
    background-color: 'red';

}

.search-input {
    border: 1px solid #a6a2a2 !important;
    border-right: none !important;
}
 
.search-button-2 {
   border: 1px solid #a6a2a2 !important;
   border-left: none !important;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

.form-search {
    width: 100% !important;
}
 
@media (min-width: 992px) { 
    .form-search {
        width: 72% !important;
    }
}