.navbar-fixed {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-links {
   font-size: 28px;
   font-weight: normal;
   margin-right: 5rem;
 }
 
 .navbar-title {
   font-style: normal;
   font-weight: bold;
   font-size: 35px;
   line-height: 41px;
   text-align: center;
 }
 
 .navbar-right {
   margin-right: 1rem;
 }
 
 .navbar-icon {
   margin-right: 1rem;
 }

 .p-navbar {
   padding: 8px 100px;
 }