.navbar-fixed {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-links {
   font-size: 28px;
   font-weight: normal;
 }
 
 .navbar-title {
   font-style: normal;
   font-weight: bold;
   font-size: 35px;
   line-height: 41px;
   text-align: center;
 }
 
 .navbar-right {
   margin-right: 1rem;
 }
 
 .navbar-icon {
   margin-right: 1rem;
 }

 .navbar-background-color {
  background-color: #F4F4F4;
 }

 .p-navbar {
   padding: 8px 24px;
 }

 .w-80 {
   width: 80% !important;
 }

 .search-container {
   width: 80% !important;
   
 }

 .products-category {
   width: 100%;
 }

 @media (max-width: 768px) {
   .search-container {
     width: 100% !important;
   }
 }

  @media (min-width: 768px) { 
    .p-navbar {
      padding: 8px 100px;
    }
  }

  @media (max-width: 768px) { 
    .p-navbar {
      padding: 8px 10px;
    }
  } 

  @media (min-width: 991px) { 
    .products-category {
      width: 25%;
    }
  }